div {
    border: 1px solid black;
    width: 300px;
    margin: auto;
    padding: 20px;
  }
  
  div:hover {
    background-color: rgb(240, 78, 14);
  }
  
  div:first-of-type {
    border-top-width: 0;
  }
  
  div:last-of-type {
    border-bottom-width: 0;
  }